.category-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-secondary-color);
    width: 312px;
    height: 220px;
    border-radius: 8px;
    padding: 41px 16px;
    box-sizing: border-box;
}

.category-link {
    text-decoration: none;
    color: var(--text-tertiary-color);
    font-size: 28px;
    font-weight: var(--titles-weight);
    margin-top: 24px;
    text-align: center;
}