.destination-items {
    padding: 0 24px;
}

.destinations .item header {
    display:block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.destination-items .item h4 {
    font-size: 28px;
    font-weight: var(--titles-weight);
}

.destination-items .item p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

.button--text {
    text-align: center;
}

.img-item.tokyo {
    background-image: url(../img/tokyo-mobile.jpg);
    background-size: cover;
    height: 360px;
}

.img-item.osaka{
    background-image: url(../img/osaka-mobile.jpg);
    background-size: cover;
    height: 360px;
}

.destination-items .item .button {
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .destination-items {
        padding:0 60px;
    }
    
    .img-item.tokyo {
        background-image: url(../img/tokyo-tablet-desk.jpg);
        height: 452px;
    }

    .img-item.osaka {
        background-image: url(../img/osaka-tablet-desk.jpg);
        height: 452px;
    }
}

@media screen and (min-width: 1440px) {
    .destination-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }
    
    .destination-items .item {
        height: 750px;
        width: 588px;
        flex-direction: column;
        justify-content: center; 
        gap: 40px;  
    }

    .img-item {
        height: 452px;
        width: 588px;
    }
}