.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--background-tertiary-color);
    width: 100%;
    margin: 0px;
    padding: 32px 0;
    }

.main-footer .logo-footer {
    width: 160px;
    height: 40px;
}


.main-footer p {
    color: var(--text-secondary-color);
    text-align: center;
    margin: 16px 24px;
    line-height: 28px;
    font-size: 16px;
}

.main-footer .footer-social .social-media {
    text-decoration: none;
}

@media screen and (min-width:1440px) {
    
    .main-footer {
        flex-direction: row;
        justify-content: space-between;
    }

}