.footer-img { 
    background: url(../img/prefooter-mobile.jpg) no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .footer-img {
        height: 620px;
        background: url(../img/prefooter-tablet.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px) {
    .footer-img {
        background: url(../img/prefooter-desk.jpg) no-repeat;
        background-size: cover;
        height: 600px;
    }
}
